main.page-cours {
  section {
    &.intro {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("~/assets/images/cours.jpg");
      min-height: 30em;
      background-position: center;
      background-size: cover;
      color: white;
      justify-content: center;
    }

    &.prices {
      .subs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: 750px) {
          display: grid;
        }

        section {
          width: fit-content;

          .price-table {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            padding-bottom: 1em;
            text-align: center;
            width: 90%;
          }

          &>div:not(:last-child) {
            border-bottom: 1px solid lightgray;
          }
          &:last-child:nth-child(odd) {
            grid-column: 2 / 4;
          }
        }
      }

      p {
        @media screen and (min-width: 750px) {
          text-align: center;
        }
      }
    }
  }

  .w1-2h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .w1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  table {
    tfoot {
      td {
        text-align: right;
        font-size: 12px;
        padding: .5em;
      }
    }
  }
}
