node_modules/
dist/
out/
.tmp/
.cache/

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

*.lock

.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

*.env*
*.log

.vite/
.vitepress/
.eslintcache
.npm/
coverage/
jest/
cypress/
cypress/screenshots/
cypress/videos/
reports/
