main {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;

  section {
    &.intro {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 1em;
        width: 40%;
      }
    }
  }
}
